:root {
    --taillePlanete: 55vw;
    --espace: 10vw;
    --offsetY: -25vw;
    /* --offsetY: -350px; */
    /* --offsetY: 25vw; */
}


body {
    background-color: #EFE8D4;
    overflow: hidden;
    
}

* {
    font-family: "League Spartan";
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-select: none;
  }
h1 {
    font-size: 300%;
    position: relative;
    right: 0;
}

#Menu {
    display: flex;
    text-align: end;
    justify-content: end;
    
}
.menu {
    font-size: 120%;
}




@keyframes dash {
    from {
      stroke-dashoffset: 1250;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

#navPath {
    stroke-dasharray: 1250;
    stroke-dashoffset: 0;
    animation-fill-mode: forwards;
    animation: dash 5s ease-in-out;
}


.photoTest {
    max-width: calc(var(--taillePlanete) / 2);
    max-height: calc(var(--taillePlanete) / 8);
    position: relative;
    filter: grayscale(1);
    opacity: 0.7;
    border-radius: 15%;

}

.container {
    position: absolute;
    /* display: flex;
    justify-content: center; */
    /* lign-items: center;
    text-align: center; */
    /* width: var(--taillePlanete);
    height: var(--taillePlanete); */

    
    /* top: 0;
    left: 0;
    
    right: 0; */
     
    /*   */
    /* transform: translateY(100%); */
    height: 100%;
    /* margin-bottom: 300px; */
    /* padding-bottom: 50%; */
}
.effect {
    
    max-width: calc(var(--taillePlanete) / 2);
    max-height: calc(var(--taillePlanete) / 8);
    --dot-size: 3px;
    --line-color: rgb(0, 0, 0);
    --line-contrast: 2000%;
    --photo-brightness: 70%;
    --photo-contrast: 180%;
    --red-color: hsl(0, 100%, 50%);

   
    background: radial-gradient(
        circle at center, 
        var(--line-color),
        hsl(0, 100%, 50%)
    );
    background-size: var(--dot-size) var(--dot-size);

    filter:  
    brightness(var(--photo-brightness))
    contrast(var(--photo-contrast))
    contrast(100%); 
    mix-blend-mode: overlay; 

    border-radius: 15%;
}


@keyframes rotation {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
  }

#mars {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    
    /* bottom: calc(var(--taillePlanete) * -0.5); */
    bottom: var(--offsetY);
    /* top: 300px; */
    

}

#tourne {
    position: absolute;
    display: flex;
    justify-content: center;
    /* lign-items: center;
    text-align: center; */
    /* width: var(--taillePlanete);
    height: var(--taillePlanete); */
    width: calc(var(--taillePlanete) + var(--espace));
    height: calc(var(--taillePlanete) + var(--espace));
    border-radius: 1000px;
    /* top: 0;
    left: 0;
    
    right: 0; */
    bottom: calc(var(--espace) / -2);
    /* transform-origin: bottom center; */
    animation: rotation 30s linear infinite;

    
}




#planete {
    /* width: calc(var(--taillePlanete) - 100px);
    height: calc(var(--taillePlanete) - 100px); */
    width: var(--taillePlanete);
    height: var(--taillePlanete);


    position: fixed;
    bottom: var(--offsetY);
    
}






/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
    display: none; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
  .modal:target {
    display: table;
    position: absolute;
  }
  
  /* la fenêtre modale  */
  .modal-dialog {
    display: table-cell;
    vertical-align: middle;
    border-radius: 100%;
  }
  
  /* Le contenu de la modale */
  .modal-dialog .modal-content {
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px #777 solid;
    text-align: justify;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideDownFadeIN;
    animation-duration: 0.5s;
  }


  
  /* Bouton servant à fermer la fenêtre modale */
  .closebtn {
    text-decoration: none;
    float: right;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    
  }
  
  .closebtn:hover,
  .closebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .container1 {
    padding: 2px 16px;
    
  }
  
  header {
    background-color: #c72727;
    font-size: 25px;
    color: white;
  }
  
  footer {
    background-color: #c72727;
    font-size: 20px;
    color: white;
  }

  .grid {
    background-color: #c727274f;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
  }
  .grid > div {
    background-color: rgba(0, 255, 255, 0.5);
  }

  #one {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .two {
    grid-column: 1;
    grid-row: 2;
  }
  .three {
    grid-column: 2;
    grid-row: 2;
  }
  .four {
    grid-column: 3;
    grid-row: 2;
  }

 .grid > div > img {
    width: 100%;
    height: 100%;
    display: flex;
 }



@media screen and (max-height: 599px ) {
  :root {
    --taillePlanete: 49vw;
  }
} 


 

nav {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background: #EFE8D4;
  position: fixed; /* Fixe le menu en haut de la page */
  top: 0; /* Positionne le menu tout en haut */
  left: 0; /* Aligne le menu à gauche */
  right: 0; /* Aligne le menu à droite */
  z-index: 1000; /* Assure que le menu est au-dessus de tout autre contenu */
}

#ligne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}

#ligne img {
  height: 50px;
  width: auto;
}

#menuCentre {
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  flex: 1;
  margin: 0;
}

label {
  font-size: 2em;
  color: #CA6702;
  cursor: pointer;
  padding: 0 10px;
}

input[type="checkbox"] {
  display: none; /* Masque la case à cocher */
}

.main_pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_pages a {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #EFE8D4;
}

nav a:hover {
  background: #EE9B00;
}

#menuMobile {
  display: none;
}

.card {
  width: 20rem; 
  margin: 0px auto; 
  background-color: #EE9B00; 
  /* box-shadow: 0px 5px 20px #999; */
  border-radius: 32px;
}
.card a {  
  text-decoration: none;
}
.card:hover .card-image img { /*6*/
  width: 160%;
  filter: grayscale(0);
  border-radius: 32px;
}

.card-image {
  height: 250px;/*1*/
  position: relative;/*2*/
  overflow: hidden;/*3*/
  border-radius: 32px;
}
.card-image img {
  width: 150%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);/*6*/
    /*7 - Transition */
  transition-property: filter width; 
  transition-duration: .3s;
  transition-timing-function: ease;
}

.card-body {
  text-align:center;  
  padding: 15px 20px; 
  box-sizing: border-box; 
  border-radius: 32px;
}

.card-date {
  text-decoration: none;
  color: #CA6702;
}

.card-title, .card-excerpt {
  text-decoration: none;
  color: #EFE8D4;
}

.card-date, .card-title {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}

.divCard {
  display: none;
}

#intro {
  text-align: center;
  font-size: 2rem;
  color: #CA6702;
}

@media all and (max-width: 991px) {
  #mars {
    display: none;
  }
  body {
    margin-top: 20%;
    overflow-y: scroll;
  }
  nav {
      height: 60px;
  }
  #menuMobile {
    display: flex;
  }
  #Menu {
    display: none;
  }

  .divCard {
    display: flex;
    flex-direction: column;
  }
  .main_pages {
      display: none; /* Cache le menu sur les petits écrans */
      flex-direction: column;
      background: #CA6702;
      height: 220px;
      position: absolute;
      top: 60px; /* Positionne le menu juste sous la barre de navigation */
      left: 0;
      width: 100%;
      z-index: 10; /* S'assure que le menu soit au-dessus du contenu */
  }

  .main_pages a {
      width: 100%;
  }

  #menuCentre {
      padding: 0;
      margin: 0;
  }

  label {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: #CA6702;
      cursor: pointer;
  }

  #toggle:checked + .main_pages {
      display: flex; /* Affiche le menu quand la case est cochée */
  }
}


