body {
    background-color: #EFE8D4;
    overflow: visible;
}

#inutile {
    width: 0px;
    height: 300px;
}

#carteAgratter, #Louane{
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 16%;
    margin-left: 30vw;
    margin-top: 300px;
}


#gratter {
    /* Prend l'espace restant disponible( flex: 1; ) */
    display: flex;
    justify-content: center;
    align-items: center;
}

#contreAbsolute {
    position: relative;
}


#globalQui {
    position: relative;
    display: bloc;
    margin: 0 10%;
}

#Qui {
    text-align: center;
    margin-top: -20%;
    font-size: 2.5em;
    margin-bottom: 25px;
    color: #CA6702;
    
}

#texteMoi {
    width: 60%;
    justify-content: flex-start;
}

#interieur {
    display: flex;
    justify-content: space-between; 
}


@media (max-width: 768px) {
    #interieur {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #carteAgratter, #Louane{
        padding-left: 0%;
        margin-left: 0%;
    }
    #texteMoi {
        margin-top: 5%;
        width: 100%;
    }

    #globalQui {
        margin: 10%;
    }

    #Qui {
        margin-top: 20%;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}
  
