body {
    background-color: #EFE8D4;
    
}

* {
    font-family: "League Spartan";
    overscroll-behavior: none;
}
h1 {
    font-size: 300%;
    position: relative;
    right: 0;
}


@keyframes dash {
    from {
      stroke-dashoffset: 1250;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

#navPath {
    stroke-dasharray: 1250;
    stroke-dashoffset: 0;
    animation-fill-mode: forwards;
    animation: dash 5s ease-in-out;
}

#rond {
    border: solid;
    border-color: black;
}

/* img, #me {
    width: 50%;
    clip-path:ellipse(33% 50%);
} */

#inutile {
    width: 0px;
    height: 300px;
}

#carteAgratter, #Louane{
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 16%;
    margin-left: 40vw;
    margin-top: 300px;
}


#gratter {
    flex: 1; /* Prend l'espace restant disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}

#contreAbsolute {
    position: relative;
}


#globalQui {
    position: relative;
    display: bloc;
    margin: 0 15%;
}

#Qui {
    text-align: center;
    margin-top: -20%;
    font-size: 2.5em;
    margin-bottom: 25px;
    color: #CA6702;
    
}

#texteMoi {
    width: 20%;
    justify-content: flex-start;
}

#interieur {
    display: flex;
    justify-content: space-between; 
}
