body {
    margin: 0;
    overflow: visible;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#title {
   font-size: 4em;
    margin-bottom: 25px;
    color: #CA6702; 
    text-align: center;
    margin-top: -10%;
}



@media (max-width: 768px) {
   
}