body{
    overflow: visible;
    overflow-x: hidden;
}


.constel {
    width: 300px;
    height: 300px;
}

h2{
    text-align: center;
    margin-top: -20%;
    font-size: 3em;
    margin-bottom: 25px;
    color: #CA6702;
}
#decalage {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
#toutesCases{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    
}

.boutons{
    text-align: center;
    align-items: center;
}
.cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes dashEtoile {
    from {
      stroke-dashoffset: 2150;
    }
    to {
      stroke-dashoffset: 0;
    }
}
.cls-1, .cls-2 {
    stroke-dasharray: 2150;
    stroke-dashoffset: 2150; /* Position initiale */
    animation-fill-mode: forwards;
    animation: dashEtoile 8s ease-in-out paused;
    animation-play-state: paused;
    visibility: hidden; /* Par défaut, caché */
}

.cases.active .cls-1, .cases.active .cls-2 {
    visibility: visible; /* Rendre visible uniquement si actif */
    animation-play-state: running; /* Démarrer l'animation */
    animation-fill-mode: forwards;
}


#Calque_1 {
    width: 300px;
}



.constel {
    width: 500px;
}
