:root {
    --tailleConstellation: 20rem;
}

body {
    overflow: visible;
    overflow-x: hidden;
}

#titrePage {
    margin-top: -20%;
    margin-bottom: -20%;
    font-size: 2.5rem;
}

#teaser {
    font-size: 2rem;
    color: #EE9B00;
    margin-top: -3%;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
    margin-bottom: 25px;
    color: #CA6702;
}

.boutons {
    width: 5rem;
}

#decalage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#toutesCases {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 10px;
    padding: 15px;
    width: var(--tailleConstellation);
    text-align: center;
    
}

.cases img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.cases button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #CA6702;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cases button:hover {
    background-color: #a65301;
}

@keyframes dashEtoile {
    from {
        stroke-dashoffset: 2150;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.cls-1, .cls-2 {
    stroke-dasharray: 2150;
    stroke-dashoffset: 2150;
    animation-fill-mode: forwards;
    animation: dashEtoile 8s ease-in-out paused;
    animation-play-state: paused;
    visibility: hidden;
}

.cases.active .cls-1, .cases.active .cls-2 {
    visibility: visible;
    animation-play-state: running;
    animation-fill-mode: forwards;
}


.voirPlus {
    text-align: center;
    background-color: #CA6702;
    color: #EFE8D4;
    border-radius: 16px;
    border: none;
    width: 9rem;
    height: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 3%;
    

}

@media (min-width: 1980px) {
    :root {
        --tailleConstellation: 35rem;
    }

    
    #titrePage {
        font-size: 4rem;
        margin-bottom: 0%;
        margin-top: -40%;
    }
    #teaser {
        font-size: 2rem;
        margin-top: -20%;
    }

}
@media (max-width: 768px) {
    body {
        padding-top: 10rem; /* Si la hauteur du menu est réduite sur mobile */
    }
    #titrePage {
        font-size: 2rem;
        margin-top: -20%;
        margin-bottom: 0%;
    }
    
    #teaser {
        font-size: 1.5rem;
        margin-top: -4%;
    }


}
  