:root {
    --carteWidth: 20rem;
    --carteHeight: 20rem;
    --carteRadius: 16%;
    --tailleTexteGratter: 2rem;
}

body {
    background-color: #EFE8D4;
    overflow: visible;
}

#inutile {
    width: 0px;
    height: 300px;
}

#carteAgratter, #Louane{
    height: var(--carteHeight);
    width: var(--carteWidth);
    position: absolute;
    border-radius: var(--carteRadius);
    margin-left: 30vw;
    margin-top: 22rem;
    overscroll-behavior: none;
}


#gratter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contreAbsolute {
    position: relative;
}


#globalQui {
    position: relative;
    display: bloc;
    margin: 0 10%;
}

#Qui {
    text-align: center;
    margin-top: -20%;
    font-size: 2.5em;
    margin-bottom: 25px;
    color: #CA6702;
    
}

#texteMoi {
    font-size: 1.5vw;
    width: 60%;
    justify-content: flex-start;
}

#interieur {
    display: flex;
    justify-content: space-between; 
}

.boutons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #CA6702;
    color: #EFE8D4;
    border-radius: 20px;
    border: none;
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
}

.boutons:hover {
    background-color: #a15002;
}

#MesBoutons{
    display: flex;
    gap: 30px;
}

@media (min-width: 1980px) {
    :root {
        --carteWidth: 30rem;  /* beugue lorsque je change */
        --carteHeight: 30rem;
        --carteRadius: 16%;
        font-family: "League Spartan";
    }
    #gratter {
        width: 200%;
    }
    #carteAgratter, #Louane{
        /* margin-left: 25vw;
        margin-top: 10vw; */
        overscroll-behavior: none;
    }
    .boutons {
        width: 15rem;
        height: 5rem;
        font-size: 2rem;
    }
}


@media (max-width: 768px) {
    #interieur {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #carteAgratter, #Louane{
        padding-left: 0%;
        margin-left: 0%;
        margin-top: 18rem;
    }
    #texteMoi {
        margin-top: 5%;
        width: 100%;
        font-size: 4vw;
    }

    #globalQui {
        margin: 10%;
    }

    #Qui {
        margin-top: 20%;
        font-size: 1.5rem;
        margin-bottom: 0;
    }
}
  
